:root{
 --first-color:#2F303A;
 --second-color:#757575;
 --third-color:#212121;
 --fifth-color:#F5F4FA;
 --fourth-color:#FFFFFF;
 --hover-color:#2196F3;

}
.container{
    max-width: 1170px;
    padding:  0 15px;
    margin: 0 auto;
    border: solid;
    border-color: var(--fourth-color);
}
section{
    font-family: Roboto;
}
li{
    list-style-type: none;
}
ul{
    padding-inline-start: 0px;
}
footer{
    margin-top: 0 auto;
    color: var(--first-color);
    background-color: var(--first-color);
}
.flex-ul{
    display: flex;
    flex-direction: row;
    justify-content: inline;
    justify-content: center;
    gap: 30px;
}

.Наша-команда-class{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.Наша-команда-flex{
    margin-bottom: 1px;
    background-color: var(--fifth-color);
}
.flex-li{
    display: flex;
    flex-direction: row;
    justify-content: inline;
    justify-content: center;
    gap: 10px;
}
.decorativ-ul{
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-li{
    background-color: var(--fifth-color);
 }
.class-button{
    padding: 21px 32px;
    color: var(--fourth-color);
    background-color: var(--hover-color);
}
.section-class{
    padding-top: 230px;   
    height: 600px;
    background-color: var(--first-color);
    text-align: center;
}
.h1{
    color: var(--fourth-color);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.06em;
}
.h-1{
    font-size: 33px;
    text-align: center;
    height: 42px;
    background-color: var(--fifth-color);
}
.section-header{
    display: flex;
    flex-direction: row;
    max-width: 1170px;
    gap: 346px;
}
.ul-class{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 40px;
}
.class-ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 40px;
}
a{
    color: var(--third-color);
}
a:hover{
    color: var(--hover-color);
}
.a-ol{
    color: var(--fourth-color);
}
.a-ol:hover{
    color: var(--hover-color);
}
.h5-class{
    color: var(--second-color);
}
.h4-class{
    color: var(--third-color);
}
.h5{
height: 16px;
    color: var(--first-color);
}
.h6{
    height: 72px;
    color: var(--second-color);
}
ol{
    color: var(--fourth-color);
}
.class-ol{
    color: var(--fourth-color);
    padding-left: 215px;
}
.decorativ-h1{
    height: 42px;
    text-align: Center;
}
.main-H1{
    font-family: Raleway;
}
button:hover{ 
    background-color: var(--hover-color);
    color: var(--fourth-color);
}
.class-p{
   font-size: 14px; 
   line-height: 24px;
   color: var(--second-color);
}
.ul-flex{

    display: flex;
    flex-direction: row;
    justify-content: inline;
    gap: 30px;
}
